.modal-custom {
    & .close {
        float: unset;
        position: absolute;
        right: 16px;
        top: 16px;
        padding: 0;
        opacity: 1;
        width: 14px;
        height: 14px;
        z-index: 1051;
    }
    & .modal-dialog {
        padding: 0 !important;
    }
}

.modal1 {
    & .modal-dialog {
        width: 480px;
        background-color: #ffffff;
        box-shadow: 0px 7px 29px 0px rgba(20, 20, 20, 0.07);
    }
    & .modal-content {
        padding: 38px 70px;
    }
    &__header {
        position: relative;
        padding-bottom: 21px;
        font-size: 26px;
        font-weight: 600;
        color: #000000;
        border-bottom: 2px solid #e1e1e1;
        margin-bottom: 25px;
        position: relative;
        z-index: 1052;
        & svg {
            position: absolute;
            right: 0;
            top: -24px;
            z-index: 1051;
        }
    }
    &__form-group {
        position: relative;
        margin-bottom: 20px;
        & label {
            font-size: 14px;
            font-weight: 500;
            color: #2f2f2f;
            margin-bottom: 14px;
            display: block;
        }
        & input {
            width: 100%;
            height: 38px;
            background-color: #ffffff;
            border: 1px solid #c2c7cc;
            padding: 0 35px 0 10px;
        }
    }
    &__form-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
    }
    &__check {
        & input {
            opacity: 0;
            position: absolute;
            &:checked+label {
                &:before {
                    background-image: url(../images/new-img/check.png);
                    background-size: 9px auto;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        & label {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: #2f2f2f;
            padding-left: 27px;
            height: 15px;
            & i {
                color: #e5090d;
            }
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 15px;
                height: 15px;
                background-color: #ffffff;
                border: 1px solid #dcdcdc;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__forgot {
        font-size: 14px;
        font-weight: 500;
        color: #e6090d;
        &:hover {
            color: #454545;
        }
    }
    &__buttons {
        display: flex;
        margin-top: 28px;
    }
    &__btn {
        &-auth {
            width: 141px;
            height: 50px;
            background-color: #e6090d;
            margin-right: 20px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
            transition: all .3s;
            border: none;
            &:hover {
                background-color: #cd0004;
            }
        }
        &-reg {
            width: 178px;
            height: 50px;
            background-color: #efefef;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: #252525;
            transition: all .3s;
            border: none;
            &:hover {
                background-color: #454545;
                color: #fff;
            }
        }
    }
    &__error {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 14px;
        font-size: 13px;
        font-weight: 400;
        color: #df1d1d;
        & img {
            width: 12px;
            margin-right: 9px;
        }
    }
}

.modal2 {
    & .modal-dialog {
        width: 690px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    }
    & .modal-content {
        padding: 38px 38px 27px;
    }
    &__body {
        border: 3px solid #ee181d;
        padding: 0 50px;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        color: #202020;
        display: flex;
        justify-content: center;
        margin-top: -11px;
        & span {
            padding: 0 60px;
            background-color: #fff;
        }
    }
    &__item {
        margin-top: 30px;
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid #f14549;
        &-img {
            width: 87px;
            height: 87px;
            margin-right: 25px;
            flex-shrink: 0;
            background-color: #ffffff;
            border: 1px solid #e4e4e4;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-title {
            display: block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #252525;
            margin-top: -3px;
        }
        &-num {
            display: flex;
            margin-top: 20px;
            &>span {
                font-size: 11px;
                line-height: 16px;
                font-weight: 400;
                color: #252525;
                margin-right: 20px;
            }
            & input {
                width: 35px;
                height: 100%;
                background-color: #ffffff;
                border: none;
                text-align: center;
                font-size: 13px;
                font-weight: 500;
                color: #0f0f0f;
            }
            & button {
                height: 100%;
                width: 29px;
                background-color: #f4f4f4;
                border: none;
                font-size: 16.8px;
                font-weight: 500;
                color: #0f0f0f;
                transition: all .3s;
                &:hover {
                    background-color: #454545;
                    color: #ffffff;
                }
            }
            & .cartcalc {
                border: 1px solid #f4f4f4;
                display: flex;
                height: 31px;
            }
        }
    }
    &__form {
        margin-top: 30px;
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 10px;
        }
        &-bottom {
            padding: 0 60px;
            background-color: #fff;
            width: 390px;
            display: flex;
            justify-content: center;
            margin: 34px auto -24px;
        }
        &-btn {
            width: 270px;
            height: 46px;
            background-color: #ffffff;
            border: 2px solid #ed090e;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: #e80f0f;
            &:hover {
                color: #b30c0c;
                border-color: #b30c0c;
            }
        }
        & label {
            font-size: 14px;
            font-weight: 400;
            color: #3d3d3d;
            margin-bottom: 13px;
        }
        & input {
            height: 35px;
            width: 100%;
            padding: 0 10px;
            border: 1px solid #cecece;
        }
    }
    &__hint {
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        color: #5c5c5c;
        text-align: center;
        margin-top: 45px;
        & a {
            color: #e21b1f;
        }
    }
}

.modal4 {
    & .modal-dialog {
        width: 430px;
    }
    & .modal-content {
        padding: 56px 0 50px;
    }
    &__icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        & img {
            &:nth-child(2) {
                left: 50%;
                transform: translateX(-50%);
                bottom: 17px;
                position: absolute;
            }
        }
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        color: #1d1d1d;
        text-align: center;
        padding-bottom: 29px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 150px;
            height: 2px;
            background-color: #f0171b;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__desc {
        margin-top: 24px;
        font-size: 15px;
        font-weight: 400;
        color: #1d1d1d;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {
    .modal2 {
        & .modal-dialog {
            width: calc(100% - 30px);
        }
        &__body {
            border: none;
            padding: 0;
        }
        & .modal-content {
            padding: 23px 14px;
        }
        &__title {
            margin-top: 0;
            font-size: 16px;
            line-height: 22px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            & span {
                padding: 0;
            }
        }
        &__item {
            padding: 20px 0;
            border-top: 1px solid #f14549;
            margin-top: 20px;
            &-img {
                width: 69px;
                height: 69px;
                margin-right: 20px;
            }
            &-title {
                font-size: 12px;
                line-height: 15px;
                margin-top: -1px;
            }
            &-num {
                margin-top: 10px;
                &>span {
                    font-size: 9px;
                    line-height: 12px;
                    margin-right: 20px;
                }
                & .cartcalc {
                    height: 25px;
                    & button {
                        width: 23px;
                        font-size: 13px;
                    }
                    & input {
                        width: 28px;
                        font-size: 12px;
                    }
                }
            }
        }
        &__form {
            margin-top: 20px;
            &-grid {
                grid-template-columns: 1fr;
            }
            &-bottom {
                padding: 0;
                width: 100%;
                margin-top: 18px;
                margin-bottom: 0;
            }
            &-btn {
                width: 100%;
                height: 46px;
                font-size: 13px;
            }
            & label {
                font-size: 12px;
                margin-bottom: 10px;
            }
            & input {
                height: 35px;
            }
        }
        &__hint {
            font-size: 9px;
            line-height: 12px;
            margin-top: 17px;
            padding: 0 5px;
        }
    }
}

@media screen and (max-width: 500px) {
    .modal1 {
        & .modal-dialog {
            width: calc(100% - 30px);
        }
        & .modal-content {
            padding: 25px 40px 40px;
        }
        &__header {
            font-size: 22px;
            padding-bottom: 22px;
            margin-bottom: 22px;
            & svg {
                width: 55px;
                height: 74px;
                top: -2px;
            }
        }
        &__form-group {
            & label {
                font-size: 13px;
                margin-bottom: 10px;
            }
            & input {
                height: 31px;
            }
        }
        &__form-bottom {
            display: block;
        }
        &__check {
            & label {
                font-size: 12px;
                padding-left: 25px;
            }
        }
        &__forgot {
            display: block;
            font-size: 12px;
            margin-top: 15px;
        }
        &__buttons {
            margin-top: 20px;
            flex-wrap: wrap;
        }
        &__btn {
            &-auth {
                width: 118px;
                height: 42px;
                font-size: 12px;
                margin-bottom: 8px;
            }
            &-reg {
                width: 149px;
                height: 42px;
                font-size: 12px;
                margin-bottom: 8px;
            }
        }
        &__error {
            left: 24px;
            font-size: 12px;
            bottom: 18px;
            & img {
                width: 10px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .modal4 {
        & .modal-dialog {
            width: calc(100% - 30px);
        }
        & .modal-content {
            padding: 43px 0 30px;
        }
        &__icon {
            width: 60px;
            top: -37px;
            & img {
                &:nth-child(1) {
                    width: 100%;
                }
                &:nth-child(2) {
                    width: 25px;
                    bottom: 12px;
                }
            }
        }
        &__title {
            font-size: 18px;
            padding-bottom: 22px;
            &:after {
                width: 116px;
                height: 1px;
            }
        }
        &__desc {
            font-size: 12px;
            line-height: 16px;
            margin-top: 20px;
            width: 130px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}